<!DOCTYPE html>
<html lang="en">
<head>
    <title>😝啦</title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

    {% block head %}
    {% endblock %}
</head>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="{{ url_for('main.index') }}" class="logo">
                <span class="symbol"><img src="../static/images/logo.png" alt=""/></span><span
                    class="title">赠于水瓶座的你</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu"></a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.plan') }}">旅游计划</a></li>
            <li><a href="{{ url_for('main.message_board') }}">留言墙</a></li>
            {#            <li><a href="{{ url_for('main.generic') }}">待定</a></li>#}
            <li><a href="{{ url_for('main.about') }}">关于我们</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</div>
<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../static/assets/js/main.js"></script>

</body>
</html>